# ==========================
# Ambiente virtual
# ==========================
.venv/
venv/
env/

# ==========================
# IntelliJ IDEA
# ==========================
.idea/
*.iml

# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==========================
# Arquivos de sistema
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================
*.log